@import '../../assets/scss/shadows';

.currencyExchanger {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: map-get($shadows, 'shadow-main');
  border-radius: 4px;
  width: 500px;
  padding: 25px 20px;
  gap: 60px;
}
